body { 
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0;
}

#main {
  max-width: 1180px;

  margin: 0 auto;
}

#header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

  padding: 10px 30px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header img {
  width: 150px;
  height: auto;
}

#contentHeader ul {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

}

#contentHeader ul li {
  list-style: none;

}

#contentHeader ul li a {
  text-decoration: none;
  text-shadow: 0 1px 1px rgb(0,0,0, 0.2);
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;

  margin-right: 1rem;
}

#contentHeader ul li:first-child a {
  color: #16731C;
}

#contentHeader ul li:hover a {
  border-bottom: #16731C 2px solid;
}
