#spanIcone {
  width: 32px;
  margin-left: -8px;
}

.btn.iconAssento {
  padding: 0;
}

.btn.iconAssento:active,
.btn.iconAssento:focus,
.btn.iconAssento.disabled{
  border: none;
  border-color: transparent;
  outline: none;
}

#alerta {
  display: none;
}