#contentCadastro {
    padding-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.campo {
    position: relative;
}

.campo > select {
    padding-left: 60px;
    width: 600px;
    height: 50px;
    font-size: 32px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.campo > select:focus {
    outline: 2px solid #2aa732;
}

.campo > input {
    padding-left: 60px;
    width: 540px;
    height: 50px;
    font-size: 32px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Centralizar o placeholder da tag input */
.campo input::-webkit-input-placeholder {
    vertical-align: middle;
}

/* Enquanto input estiver selecionada há essa borda */
input:focus {
    outline: 2px solid #2aa732;
}

.campo > label > i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #000000;
}

.campoButton {
    position: relative;
}

.campoButton > i {
    position: absolute;
    left: 15px;
    top: 40%;
    font-size: 30px;
    color: #000000;
}

.campoButton > button {
    width: 600px;
    height: 70px;
    font-size: 32px;

    margin-top: 30px;
    margin-bottom: 30px;

    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #16731C;
    color: white;

    cursor: pointer;
    transition: background-color 0.5s;
}

.campoButton > button:hover {
    background-color: #2aa732;
}

/* */
::-webkit-datetime-edit-text {
    color: #2aa732;
}

::-webkit-datetime-edit-month-field {
    color: #2aa732;
}

::-webkit-datetime-edit-day-field {
    color: #2aa732;

}

::-webkit-datetime-edit-year-field {
    color: #2aa732;

}
::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.statusError {
    color:red;
}

.statusSuccess {
    color:blue;
}